<footer class="todo_list__footer">
  <p class="items__left__text">{{totalItems}} items left</p>
  <div class="todos__filters__container">
    <button id="filter_all_btn" class="todos__filter__btn" (click)="onButtonEvent('FILTER_ALL')">All</button>
    <button id="filter_active_btn" class="todos__filter__btn" (click)="onButtonEvent('FILTER_ACTIVE')">Active</button>
    <button id="filter_completed_btn" class="todos__filter__btn" (click)="onButtonEvent('FILTER_COMPLETED')">Completed</button>
  </div>
  <button id="clear_completed_btn" class="todos__filter__btn" (click)="onClearCompleteClick()">Clear Completed</button>
</footer>
