<footer class="todo_list__footer">
  <div class="items__left__container">
    <p class="items__left__text">{{totalItems}} items left</p>
  </div>
  <div class="todos__filters__container">
    <button id="filter_all_btn"
      class="todos__filter__btn"
      [ngClass]="{'active': activeFilter === 'FILTER_ALL'}"
      (click)="onButtonEvent('FILTER_ALL')"
    >All</button>

    <button id="filter_active_btn"
      [ngClass]="{'active': activeFilter === 'FILTER_ACTIVE'}"
      class="todos__filter__btn"
      (click)="onButtonEvent('FILTER_ACTIVE')"
    >Active</button>

    <button id="filter_completed_btn"
      [ngClass]="{'active': activeFilter === 'FILTER_COMPLETED'}"
      class="todos__filter__btn"
      (click)="onButtonEvent('FILTER_COMPLETED')"
    >Completed</button>
  </div>

  <div class="clear_completed_btn">
    <button id="clear_completed_btn" class="todos__filter__btn" (click)="onClearCompleteClick()">Clear
      Completed</button>
  </div>
</footer>
