<div class="todo_list__page__container">
  <app-main-background-img></app-main-background-img>
  <div class="todo_form__container">
    <app-todos-list-header></app-todos-list-header>
    <app-new-todo (sendNewTodo)="createTodo($event)"></app-new-todo>

    <div class="list__container">
      <div class="todos__list" *ngIf="todos.length === 0" >
        <p class="no__todos__msg">Start creating todos...</p>
      </div>
      <ul class="todos__list" *ngIf="todos.length > 0" >
        <app-todo-item *ngFor="let todo of todos" [todoItem]="todo"
          (itemDeleted)="deleteTodo($event)"
          (itemStatusChanged)="updateItemStatus($event)"
        ></app-todo-item>
      </ul>
      <app-todos-list-footer
        [totalItems]="activeTodosLeft"
        (buttonEvent)="onFooterButtonClick($event)"
        (clearCompleted)="clearCompleted()"
      ></app-todos-list-footer>
    </div>

    <p class="drag_and_drop__msg">Drag and drop to reorder list</p>
  </div>

</div>


