<div class="todo_list__page__container">
  <app-main-background-img></app-main-background-img>
  <div class="todo_form__container">
    <app-todos-list-header></app-todos-list-header>
    <app-new-todo></app-new-todo>

    <div class="list__container">
      <ul class="todos__list">
        <app-todo-item *ngFor="let todo of todos" [todoItem]="todo"></app-todo-item>
      </ul>
      <app-todos-list-footer></app-todos-list-footer>
    </div>

    <p class="drag_and_drop__msg">Drag and drop to reorder list</p>
  </div>

</div>


