<div class="todo_list__page__container">
  <div class="background__image"></div>
  <div class="todo_list__container">
    <app-todos-list-header></app-todos-list-header>
    <app-new-todo></app-new-todo>

    <ul class="todos__list">
      <li class="todo__item">dasd</li>
      <li class="todo__item">fsafdga</li>
      <li class="todo__item">fasdfs</li>
    </ul>

    <footer class="todo_list__footer">
      <p class="items__left">asdasd</p>
      <div class="todos__filters__container">
        <button class="todos__filter__btn">All</button>
        <button class="todos__filter__btn">Active</button>
        <button class="todos__filter__btn">Completed</button>
      </div>
      <button class="clear_completed__btn">Clear Completed</button>
    </footer>

    <p class="drag_and_drop__msg">Drag and drop to reorder list</p>
  </div>

</div>


