h1 {
  margin: 0;
}

.todo_list__page__container {
  height: 100vh;
  position: relative;
  background-color: var(--main-background-color);

  .todo_form__container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    width: 480px;
    height: min-content;

    .list__container{
      border-radius: var(--block-border-radius);
      overflow-x: clip;
      box-shadow: var(--element-shadow);

      .todos__list {
        position: relative;
        min-height: 20vh;
        background-color: var(--element-background-color);
        padding: 0;
        margin: 0;

        .no__todos__msg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          color: var(--secondary-foreground-color);
          font-family: var(--main-font-700);
          margin: 0;
        }
      }
    }

    .drag_and_drop__msg {
      margin: 0;
      font-family: var(--main-font-400);
      color: var(--secondary-foreground-color);
      font-size: .75em;
      width: 100%;
      margin-top: 50px;
      text-align: center;
    }
  }
}

.draggable_item_wrapper {
  cursor: grab;
  &.dragging {
    opacity: 0;
    transform: scale(1.1, 1.1);
    box-shadow: var(--element-shadow);
  }
}

@media (min-width: 376px)  {
  // .todo_list__page__container{
  //   background-image: url('../../../assets/images/bg-desktop-dark.jpg');
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
}
