body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 500px;
}

body {
  font-size: 18px;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

:root {
  /**** values ****/
  --block-border-radius: 4px;

  /**** Main font family types ****/
  --main-font-400: 'Josefin-sans-400';
  --main-font-700: 'Josefin-sans-700';

  /**** Common colors ****/
  --bright-blue: hsl(220, 98%, 61%);

  /**** Shadows ****/
  --dark-theme-element-shadow: 0px 12px 12px -4px rgba(0,0,0,0.53);
  --light-theme-element-shadow: 0px 12px 12px -4px rgba(0,0,0,0.25);

  --element-shadow: var(--dark-theme-element-shadow);

  /**** Light theme colors ****/
  --white: hsl(0, 0%, 100%);
  --very-light-gray: hsl(0, 0%, 98%);
  --grayish-blue-100: hsl(236, 33%, 92%);
  --grayish-blue-300: hsl(233, 11%, 84%);
  --grayish-blue-500: hsl(236, 9%, 61%);
  --grayish-blue-700: hsl(235, 19%, 35%);

  /**** Dark theme colors ****/
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --grayish-blue-600: hsl(234, 11%, 52%);
  --grayish-blue-700: hsl(233, 14%, 35%);
  --grayish-blue-800: hsl(237, 14%, 26%);
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);

  /**** Images paths ****/
  --desktop-dark-background-img-path: url("./assets/images/bg-desktop-dark.jpg");
  --desktop-light-background-img-path: url("./assets/images/bg-desktop-light.jpg");
  --mobile-dark-background-img-path: url("./assets/images/bg-mobile-dark.jpg");
  --mobile-light-background-img-path: url("./assets/images/bg-mobile-light.jpg");
  --moon-icon-path: url("./assets/images/icon-moon.svg");
  --sun-icon-path: url("./assets/images/icon-sun.svg");
  --check-mark-icon-path: url("./assets/images/icon-check.svg");

  /* Theme properties */
  /**** colors ****/
  --accent-color: var(--bright-blue);
  --main-background-color: var(--very-dark-blue);
  --element-background-color: var(--very-dark-desaturated-blue);
  --primary-foreground-color: var(--light-grayish-blue);
  --secondary-foreground-color: var(--grayish-blue-700);
  --tertiary-foreground-color: var(--white);
  --desktop-bg-img-path: var(--desktop-dark-background-img-path);
  --mobile-bg-img-path: var(--mobile-dark-background-img-path);
  --theme-toggle-button-icon: var(--sun-icon-path);
}

/**** Fonts ****/
@font-face {
  font-family: 'Josefin-sans-700';
  src: url('./assets/fonts/static/JosefinSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Josefin-sans-400';
  src: url('./assets/fonts/static/JosefinSans-Regular.ttf');
  font-weight: 400;
}
